<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}社員体調管理システム{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/conditions.css' %}">

</head>

<body>

    <header>
        {% if user.is_authenticated %}
        <nav>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">ログアウト</button>
            </form>
        </nav>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>